.root{
	margin: auto;
	position: relative;
	padding-bottom: 0;
	width: 90%;
}

.form-group {
	width: 90%
}

.auto-complete-container{
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid #555555;
    width: 100%;
    z-index: 25;
  }