@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

.category-buttons {
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;
  padding: 12px 30px;  
  color: #2196F3;
  border-radius: 30px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  background-color: lightblue; 
}

.category-buttons:nth-child(odd) {
  background: #2196F3;
  color: lightblue;
}

.category-buttons:focus{
  outline: none;
}


