@import url('https://fonts.googleapis.com/css?family=Nunito');



.edit-event-button {
    background-color: #007F35;
    font-size: 18px;
    padding: 10px 10px;
    color: white;
}


.join-event-button {
	margin-top: 10vh;
    background-color: #007F35;
    font-size: 20px;
    color: white;
}