textarea {
	width: 70vw;
	height: 30vh;
	font-size: 16px;
	resize: none;
	background-color: transparent;
	border: none;
}

.edit-profile-save {
	width: 100%;
    height: 50px;
    font-size: 20px;
    color: #fff;
    background: #0F4C5C;
}

.edit-submit-button {
	width: 100%;
    height: 50px;
    font-size: 20px;
    color: #fff;
    background: #0F4C5C;
}